[submodule "include/sml"]
	path = include/sml
	url = https://github.com/boost-experimental/sml.git
[submodule "linux/backward-cpp"]
	path = linux/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "include/Jinja2CppLight"]
	path = include/Jinja2CppLight
	url = https://github.com/hughperkins/Jinja2CppLight.git
[submodule "include/EventBus"]
	path = include/EventBus
	url = https://github.com/averrin/EventBus.git
[submodule "include/fmt"]
	path = include/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "include/glm"]
	path = include/glm
	url = https://github.com/g-truc/glm.git
[submodule "backward-cpp"]
	path = backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "include/libcolor"]
	path = include/libcolor
	url = https://github.com/averrin/libcolor
[submodule "include/liblog"]
	path = include/liblog
	url = https://github.com/averrin/liblog
