[submodule "include/Cinder-Pango"]
	path = include/Cinder-Pango
	url = git@github.com:kitschpatrol/Cinder-Pango.git
[submodule "include/sml"]
	path = include/sml
	url = git@github.com:boost-experimental/sml.git
[submodule "linux/backward-cpp"]
	path = linux/backward-cpp
	url = git@github.com:bombela/backward-cpp.git
[submodule "include/Jinja2CppLight"]
	path = include/Jinja2CppLight
	url = git@github.com:hughperkins/Jinja2CppLight.git
